@import "./normalize.css";
@import "./variables/_variable.css";

/* pages stylesheets */
@import "./pages/home.css";
@import "./pages/about.css";
@import "./pages/blog.css";
@import "./pages/portfolio.css";
@import "./pages/agents.css";
@import "./pages/contact.css";
/* .container {
} */
/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 0 2rem;
  height: 78px;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  opacity: 0.7;
}
.header__logo .header__logo-link {
  font-size: 5.6rem;
  text-transform: capitalize;
  color: white;
}
.header__logo .header__logo-link-color {
  color: #00cdce;
}
.header__nav ul {
  display: flex;
}
.header__nav-item {
  padding: 1.5rem 1rem;
}
.header__nav-item:hover .header__nav-item-link {
  color: #00cdce;
}
.header__nav-item-link {
  transition: all 0.5s;
  border-bottom: 0.3rem solid white;
  color: white;
  text-transform: capitalize;
  padding: 1.5rem;
  font-size: 1.6rem;
}
.header__nav-item-link:hover {
  border-bottom-color: transparent;
}
/* carousel */
#carousel .carousel__content {
  height: 80rem;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
#carousel .carousel__content-bg1 {
  background-image: url("./../images/b1.jpg");
}
#carousel .carousel__content-bg2 {
  background-image: url("./../images/b2.jpg");
}
#carousel .carousel__content-bg3 {
  background-image: url("./../images/b3.jpg");
}
#carousel .carousel__content-bg4 {
  background-image: url("./../images/b4.jpg");
}
.carousel__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 3rem;
}
.carousel__text {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  font-size: 2rem;
}
.carousel__text::first-letter {
  text-transform: capitalize;
}
/* about page */
#intro {
  padding: 2.5rem 10rem 7.5rem 10rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
#intro .intro__title {
  text-align: center;
  color: currentColor;
  text-transform: capitalize;
  font-size: 5rem;
  padding: 2.5rem 0;
  letter-spacing: 0.5rem;
}
#intro .intro__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}
#intro .intro__item {
  text-align: center;
  padding: 0 1rem;
}
#intro .intro__item i {
  font-size: 2.8rem;
  text-align: center;
  border: 1px solid currentColor;
  border-radius: 50%;
  padding: 2.5rem;
  margin-bottom: 2.5rem;
  transition: all 1s;
}
#intro .intro__item i:hover {
  background-color: #00cdce;
  cursor: pointer;
  color: white;
}
#intro .intro__item p {
  color: #7f7777;
  line-height: 1.8;
  font-size: 2rem;
}
#intro .intro__desc {
  text-align: center;
}
#intro .intro__desc p:first-child {
  font-size: 3rem;
  color: #00cdce;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}
#intro .intro__desc p:first-child::first-letter {
  text-transform: capitalize;
}
#intro .intro__desc p {
  line-height: 1.8;
  font-size: 2rem;
}
/* Stats */
#stats {
  color: initial;
  font-size: 2rem;
  background-color: #00cdce;
  padding: 4rem 0 5rem;
}
#stats .stats__title {
  text-align: center;
  padding-bottom: 4rem;
  font-size: 5.6rem;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
}
#stats .stats__list {
  display: flex;
  width: 100%;
  padding: 0 10rem;
  justify-content: space-between;
  color: white;
}
#stats .stats__item {
  text-align: center;
  width: 10rem;
}
#stats .stats__item h3 {
  font-size: 5.6rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}
#stats .stats__item p {
  color: initial;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  font-size: 3.3rem;
}
/* blog */
#blog {
  padding: 5em 10rem;
}
#blog .blog__title {
  text-align: center;
  text-transform: capitalize;
  font-size: 5.6rem;
  margin-bottom: 4rem;
  letter-spacing: 0.5rem;
}
#blog .blog__list {
  display: flex;
  justify-content: space-between;
}
#blog .blog__item:nth-child(2n) {
  margin: 0 5rem;
}
#blog .blog__list .blog__item {
  background-color: #efefef;
}
#blog .blog__list .blog__item img {
  border-top: 0.5rem solid #00cdce;
}
#blog .blog__content > * {
  margin: 1rem 0 1rem 2rem;
  letter-spacing: 0.1rem;
}
#blog .blog__content h3 {
  font-size: 2.2rem;
  color: #00cdce;
}
#blog .blog__content p {
  font-size: 1.5rem;
}
.btn {
  text-transform: capitalize;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  text-align: center;
  color: #00cdce;
  background-color: black;
  border: none;
  border-radius: 0.3rem;
  line-height: 1.6rem;
  transition: color 0.5s;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.btn:hover {
  color: white;
  cursor: pointer;
}
/* Get More */
#more {
  display: flex;
}
#more .more__video,
.more__content {
  flex-basis: 50%;
}
#more .more__video {
  background-image: url("./../images/video.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#more .more__video i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  color: white;
  display: inline-block;
  padding: 2rem;
  border-radius: 50%;
  background-color: #1a7472a3;
}
#more .more__video img {
  height: 100%;
}
#more .more__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10rem;
  background-color: #00cdce;
}
#more .more__content > * {
  margin: 2rem 0;
}

#more .more__content h3 {
  font-size: 4.2rem;
  font-weight: normal;
  text-transform: capitalize;
}
#more .more__content p {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  line-height: 1.8;
  transform: scale(1.2);
}
/* Portfolio */
#portfolio {
  padding: 4rem 10rem;
}
#portfolio .portfolio__title {
  text-align: center;
  text-transform: capitalize;
  font-size: 4rem;
  margin: 2rem 0;
}
#portfolio .portfolio__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
#portfolio .portfolio__content .portfolio__item {
  position: relative;
}
.portfolio__item .portfolio__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  width: 80%;
  height: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}
.portfolio__item .portfolio__overlay h3 {
  border: 0.2rem solid;
  padding: 4rem 8rem;
  border-color: #00cdce transparent;
  text-transform: uppercase;
}
.portfolio__content .portfolio__item:hover {
  cursor: pointer;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 0.7;
}
/* Subscribe */
#subscribe {
  background-color: #00cdce;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5rem 3rem;
}
#subscribe .subscribe__title {
  font-size: 5.6rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
}
#subscribe .subscribe__text {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin: 0 20rem 2rem 20rem;
}
#subscribe form {
  padding-bottom: 2rem;
}
#subscribe form .subscribe__input {
  margin-bottom: 2rem;
  width: 45rem;
  padding: 1rem;
  border: none;
  display: block;
}
#subscribe form .subscribe__input:focus {
  outline: none;
}
#subscribe form .subscribe__btn {
  display: block;
  margin: 0 auto;
  padding: 1rem 5rem;
  letter-spacing: 0.5rem;
  text-transform: capitalize;
  background-color: black;
  color: white;
  font-size: 2rem;
  border: none;
}
/* Agents */
#agent {
  padding: 5rem 10rem;
}
#agent .agent__title {
  text-transform: capitalize;
  text-align: center;
  font-size: 5.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 5rem;
}
#agent .agent__cards {
  display: flex;
  justify-content: space-between;
}
#agent .agent__cards .agent__card {
  flex-basis: 25%;
  margin: 0 1rem;
}
#agent .agent__cards .agent__card img {
  display: block;
}
#agent .agent__cards .agent__card .agent__card-content {
  background-color: #363636;
}
#agent .agent__cards .agent__card .agent__card-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
#agent .agent__cards .agent__card .agent__card-content-title {
  color: #00cdce;
  text-transform: uppercase;
  font-size: 2.1rem;
}
#agent .agent__cards .agent__card .agent__card-content-text {
  text-align: center;
  margin: 1rem 0;
  color: white;
}
#agent .agent__cards .agent__card .agent__card-content-social-icons {
  color: white;
}
#agent .agent__cards .agent__card .agent__card-content-social-icons i {
  padding: 0.5rem;
  border: 2px solid currentColor;
  font-size: 1.6rem;
  width: 3rem;
  text-align: center;
}
#agent
  .agent__cards
  .agent__card
  .agent__card-content-social-icons
  i:nth-child(2) {
  margin: 0 1rem;
}
#agent .agent__cards .agent__card .agent__card-content-social-icons i:hover {
  background-color: #337ab7;
  cursor: pointer;
}
#agent
  .agent__cards
  .agent__card
  .agent__card-content-social-icons
  i:nth-child(2):hover {
  background-color: dodgerblue;
}
#agent
  .agent__cards
  .agent__card
  .agent__card-content-social-icons
  i:last-child:hover {
  background-color: orange;
}
#agent
  .agent__cards
  .agent__card:hover
  .agent__card-content
  .agent__card-content-title {
  color: white;
}
/* Google Map */
#google-map {
  border: 0.3rem solid #00cdce;
}
#google-map iframe {
  display: block;
}
/* Contact */
#contact {
  margin: 0 auto;
  padding: 5rem 20%;
}
#contact .contact__title {
  font-size: 5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  text-align: center;
}
#contact .contact__form {
  display: flex;
  justify-content: center;
}
#contact .contact__form-left,
.contact__form-right {
  flex-basis: 50%;
  margin: 0 2rem;
}
#contact .contact__form-left {
  margin-left: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
#contact .contact__form-left input {
  padding: 1rem;
  margin-top: 2.5rem;
  border: none;
  border-bottom: 2px solid #999999;
  background-color: #efefef;
  color: currentColor;
  font-size: 1.8rem;
  width: 100%;
  transition: all 0.5s;
}
#contact .contact__form-left input:focus {
  outline: none;
  border-bottom-color: #000;
}
#contact .contact__form-left input:first-child {
  margin-top: 0;
}
#contact .contact__form-right {
  margin-right: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
#contact .contact__form-right > * {
  width: 100%;
  font-size: 1.8rem;
}
#contact .contact__form-right textarea {
  min-height: 18.1rem;
  padding: 1rem;
  background-color: #efefef;
  resize: none;
  border: none;
  border-bottom: 2px solid #999999;
}
#contact .contact__form-right textarea:focus {
  border-bottom-color: #000;
  outline: none;
}
#contact .contact__form-right input {
  padding: 1rem;
  background-color: #000;
  color: white;
  outline: none;
  border: none;
  transition: all 0.5s;
}
#contact .contact__form-right input:hover,
#contact .contact__form-right input:focus {
  color: black;
  background-color: #00cdce;
}
#contact .contact__form-right input:hover {
  cursor: pointer;
}
/* Footer */
footer {
  background-color: #00cdce;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer p,
.footer__icons {
  font-size: 1.8rem;
  color: white;
  letter-spacing: 0.2rem;
}
footer p a {
  text-decoration: none;
  color: red;
}
footer p a:hover {
  cursor: pointer;
  color: white;
}
footer .footer__icons a {
  text-decoration: none;
  border: 1px solid white;
  color: white;
  display: inline-block;
  text-align: center;
  margin: 0 1rem;
  width: 3rem;
  height: 3rem;
  padding: 0.4rem;
  font-size: 1.6rem;
}
footer .footer__icons a i {
  display: table;
  margin: auto;
}
footer .footer__icons a i:hover {
  cursor: pointer;
}
footer .footer__icons a i[class*="facebook"]:hover {
  color: #337ab7;
}
footer .footer__icons a i[class*="twitter"]:hover {
  color: dodgerblue;
}
footer .footer__icons a i[class*="rss"]:hover {
  color: orange;
}
footer .footer__icons a i[class*="vk"]:hover {
  color: #337ab7;
}
/* Back To Top */
.backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.backToTop .backToTopLink {
  display: block;
  background-color: black;
  padding: 2rem;
  border-radius: 50%;
  opacity: 0;
}
.cd-top--is-visible {
  /* back-to-top button visible */
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  /* reduce button opacity if user keeps scrolling */
  opacity: 0.5 !important;
}
.backToTop .cd-top--fade-out:hover {
  opacity: 1 !important;
}
